In [1]:
import sys, os
import traceback
from itertools import chain
import numpy as np
import pandas as pd
#Remove warnings
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier

from sklearn import tree

import seaborn as sns

In [2]:
# 'down' 
import pandas as pd
import glob

folder_path = r'C:\Users\sarda\GitHub\TinyMachineLearning693\Arduino\Assignment3\data\Down'
file_list = glob.glob(folder_path + "/*.csv")
down_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))

for i in range(1,len(file_list)):
    data = pd.read_csv(file_list[i])
    df = pd.DataFrame(data)
    down_dataframe = pd.concat([down_dataframe,df],axis=0)
print(down_dataframe)

             1           2          3          4          5          6  \
0    40.299999  105.739998  55.599998  47.619999  50.939999  47.739998
1   132.360001  173.639999  71.659996  58.259998  67.919998  70.000000
2    69.619995   55.500000  57.000000  50.419998  46.779999  46.919998
3   121.799995   48.160000  46.500000  55.020000  48.020000  46.919998
4    46.639999   50.799999  57.239998  53.439999  42.360001  44.919998
..         ...         ...        ...        ...        ...        ...
20  223.819992  164.339996  80.619995  49.899998  90.139999  98.079994
21  173.259995  215.919998  91.299995  65.659996  82.540001  87.779999
22   72.139999   49.239998  58.480000  31.139999  18.459999   9.559999
23  116.839996   68.599998  29.619999  16.180000  23.459999  34.520000
24   54.299999   76.459999  59.699997  43.879997  28.719999  26.599998

            7          8          9         10  ...         56         57  \
0   44.779999  52.199997  47.879997  42.360001  ...   6.260000   6.260000
1   62.599998  69.439995  63.520000  61.539997  ...  12.000000  14.020000
2   42.820000  42.520000  38.480000  32.980000  ...   5.100000   5.100000
3   47.340000  38.480000  42.680000  39.320000  ...   7.240000   7.240000
4   42.200001  47.619999  41.739998  47.619999  ...  14.920000  15.339999
..        ...        ...        ...        ...  ...        ...        ...
20  63.119999  40.939999  32.380001  36.739998  ...  15.339999  15.339999
21  84.419998  79.799995  33.559998  17.719999  ...   6.260000   6.260000
22  21.100000  36.380001  42.520000  42.200001  ...  16.180000  15.780000
23  38.480000  20.139999  17.719999  15.339999  ...  16.180000  16.180000
24  29.619999  31.340000  32.180000  32.779999  ...   5.100000   5.100000

           58         59         60         61         62     63         64  \
0    6.260000   6.260000   6.260000   6.260000   6.260000   5.10   5.100000
1   15.339999  16.580000  17.359999  18.100000  18.459999  18.10  17.359999
2    3.620000   3.620000   3.620000   0.000000   0.000000   0.00   0.000000
3    6.260000   6.260000   6.260000   6.260000   6.260000   5.10   5.100000
4   14.920000  14.920000  14.920000  14.480000  13.540000  13.54  13.040000
..        ...        ...        ...        ...        ...    ...        ...
20  15.780000  15.780000  15.780000  15.339999  14.920000  14.02  12.540000
21   6.260000   7.240000   7.240000   7.240000   7.240000   8.08   8.080000
22  15.780000  15.339999  14.920000  14.920000  14.480000  13.54  13.040000
23  16.180000  15.780000  15.780000  15.780000  15.339999  14.92  14.920000
24   6.260000   6.260000   7.240000   7.240000   7.240000   7.24   7.240000

    sample
0        1
1        2
2        3
3        4
4        5
..     ...
20      21
21      22
22      23
23      24
24      25

[475 rows x 65 columns]

In [3]:
## up
import pandas as pd
import glob

folder_path = r'C:\Users\sarda\GitHub\TinyMachineLearning693\Arduino\Assignment3\data\Up'
file_list = glob.glob(folder_path + "/*.csv")
up_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))

for i in range(1,len(file_list)):
    data = pd.read_csv(file_list[i])
    df = pd.DataFrame(data)
    up_dataframe = pd.concat([up_dataframe,df],axis=0)
print(up_dataframe)

            1           2          3          4          5          6  \
0   99.799995   39.480000  21.100000  13.040000  11.440000  16.580000
1   62.279999   14.480000   3.620000   5.100000   8.860000  13.040000
2   84.419998   52.459999  32.579998   6.260000   7.240000  14.480000
3   81.419998   60.359997  10.860000  16.980000  21.719999  22.600000
4   52.320000   32.779999  16.980000  10.219999   9.559999  11.440000
..        ...         ...        ...        ...        ...        ...
20  42.980000   41.739998  30.279999  25.840000  26.340000  13.540000
21  46.919998   36.739998  29.179998  22.879999  23.740000  24.000000
22  55.840000   59.139999  46.059998  30.699999  23.740000  12.540000
23  84.419998  125.399994  34.520000   7.240000  11.440000  14.920000
24  52.459999   74.799995  65.260002  77.799995  79.479996  65.159996

            7           8           9          10  ...    56        57  \
0   20.779999   23.740000   17.359999   11.440000  ...  0.00  0.000000
1   15.339999   17.359999   15.780000   11.440000  ...  0.00  0.000000
2   16.180000  101.239998  252.339996  178.800003  ...  0.00  3.620000
3   21.100000   18.799999   16.180000  110.159996  ...  3.62  3.620000
4   13.540000   14.480000   13.540000   11.440000  ...  5.10  3.620000
..        ...         ...         ...         ...  ...   ...       ...
20   3.620000    0.000000    0.000000    0.000000  ...  0.00  0.000000
21   6.260000    0.000000    0.000000    0.000000  ...  0.00  0.000000
22   0.000000    0.000000    0.000000    0.000000  ...  0.00  0.000000
23  18.100000   19.480000   20.139999   17.359999  ...  5.10  5.100000
24  42.059998   21.400000    9.559999   22.600000  ...  8.86  9.559999

          58        59        60        61        62        63        64  \
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3   3.620000  3.620000  0.000000  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
..       ...       ...       ...       ...       ...       ...       ...
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23  5.100000  3.620000  3.620000  3.620000  3.620000  3.620000  0.000000
24  9.559999  9.559999  9.559999  9.559999  9.559999  9.559999  9.559999

    sample
0        1
1        2
2        3
3        4
4        5
..     ...
20      21
21      22
22      23
23      24
24      25

[475 rows x 65 columns]

In [4]:
# 'go
import pandas as pd
import glob

folder_path = r'C:\Users\sarda\GitHub\TinyMachineLearning693\Arduino\Assignment3\data\Go'
file_list = glob.glob(folder_path + "/*.csv")
go_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))

for i in range(1,len(file_list)):
    data = pd.read_csv(file_list[i])
    df = pd.DataFrame(data)
    go_dataframe = pd.concat([go_dataframe,df],axis=0)
print(go_dataframe)

            1           2          3          4          5          6  \
0   41.419998   42.520000  46.779999  27.799999  22.600000  18.459999
1   48.419998   52.199997  40.459999  32.779999  28.959999  22.600000
2   54.419998   43.879997  38.480000  38.980000  36.919998  34.340000
3   55.379997   65.860001  54.180000  55.599998  60.579998  51.320000
4   41.419998   42.059998  37.619999  31.559999  25.340000  19.139999
..        ...         ...        ...        ...        ...        ...
20  43.739998   41.259998  44.480000  44.919998  38.639999  33.959999
21  44.320000   63.840000  57.579998  67.339996  68.400002  67.040001
22  52.699997   56.199997  54.899998  48.840000  63.739998  50.160000
23  40.299999   37.439999  32.779999  34.719997  25.340000  25.599998
24  65.760002  114.639999  77.479996  83.879997  84.820000  74.900002

            7          8          9         10  ...     56     57         58  \
0   23.180000  17.359999  24.000000  17.719999  ...  14.92  13.04  10.860000
1   21.719999  15.339999  21.719999  22.600000  ...  15.78  14.92  13.040000
2   29.840000  33.559998  14.920000  32.180000  ...   7.24   7.24   6.260000
3   44.619999  27.080000  26.099998  23.180000  ...  14.02  14.02  13.540000
4   14.920000  12.000000   9.559999   6.260000  ...  39.32  34.52  34.719997
..        ...        ...        ...        ...  ...    ...    ...        ...
20  32.380001  35.099998  26.099998  13.040000  ...  14.48  16.18  16.580000
21  62.480000  73.580002  67.439995  61.639999  ...   0.00   0.00   0.000000
22  46.779999  39.980000  39.820000  32.980000  ...   0.00   0.00   0.000000
23  23.459999  15.339999   9.559999   6.260000  ...   0.00   0.00   0.000000
24  54.899998  48.840000  52.199997  44.320000  ...   0.00   0.00   0.000000

           59         60         61     62         63         64  sample
0    8.860000   7.240000   7.240000   5.10   3.620000   3.620000       1
1   12.000000  11.440000  10.219999   8.86   8.080000   7.240000       2
2    7.240000   7.240000   7.240000   6.26   7.240000   7.240000       3
3   13.540000  12.540000  12.000000  10.86  10.219999   9.559999       4
4   36.739998  17.359999   9.559999   8.08   3.620000   8.080000       5
..        ...        ...        ...    ...        ...        ...     ...
20  16.580000  16.580000  16.580000  16.58  16.580000  15.780000      21
21   0.000000   0.000000   0.000000   3.62   3.620000   5.100000      22
22   0.000000   0.000000   0.000000   3.62   5.100000   7.240000      23
23   0.000000   0.000000   0.000000   0.00   0.000000   0.000000      24
24   0.000000   0.000000   0.000000   0.00   0.000000   3.620000      25

[475 rows x 65 columns]

In [5]:
# 'stop
import pandas as pd
import glob

folder_path = r'C:\Users\sarda\GitHub\TinyMachineLearning693\Arduino\Assignment3\data\Stop'
file_list = glob.glob(folder_path + "/*.csv")
st_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))

for i in range(1,len(file_list)):
    data = pd.read_csv(file_list[i])
    df = pd.DataFrame(data)
    st_dataframe = pd.concat([st_dataframe,df],axis=0)
print(st_dataframe)

             0           1           2          3          4          5  \
0    54.899998   70.739998   47.200001  42.360001  35.639999  31.959999
1    49.759998   22.020000   22.020000  21.719999  19.480000  18.459999
2   102.959999   32.380001   30.699999  23.459999  25.840000  23.459999
3    47.619999   34.520000   13.540000   5.100000   0.000000   0.000000
4    49.639999   37.619999   31.559999  31.959999  23.740000  16.980000
..         ...         ...         ...        ...        ...        ...
20   41.419998   38.980000   38.980000  34.139999  30.699999  34.340000
21   86.639999   66.459999   42.360001  23.180000   7.240000   9.559999
22   45.500000  175.839996  131.160004  54.299999  39.320000  38.639999
23  112.820000   67.720001   44.320000  43.579998  34.899998  28.719999
24   74.279999   66.459999   49.759998  32.579998  29.400000  38.820000

            6          7          8          9  ...         55         56  \
0   28.959999  30.920000  30.059999  24.820000  ...  28.260000  28.039999
1   16.180000  12.540000  13.040000  16.180000  ...  15.339999  15.339999
2   19.139999  19.480000  18.100000  10.219999  ...   8.080000   8.860000
3    0.000000   0.000000   0.000000   0.000000  ...   0.000000   0.000000
4   15.339999  13.040000  11.440000  10.860000  ...  11.440000  10.219999
..        ...        ...        ...        ...  ...        ...        ...
20  34.899998  37.259998  31.139999  16.580000  ...   0.000000   0.000000
21  20.459999  47.340000  57.340000  23.740000  ...  18.459999  17.719999
22  35.099998  22.879999  24.000000  28.500000  ...   0.000000   0.000000
23  26.099998  13.040000  13.540000   9.559999  ...   8.080000   8.080000
24  52.079998  41.739998  28.500000  17.719999  ...   0.000000   0.000000

           57     58     59         60         61         62     63  sample
0   27.559999  26.84  25.34  24.279999  23.459999  22.299999  21.40       1
1   14.920000  14.48  14.48  13.540000  12.540000  12.000000  11.44       2
2    8.860000   8.86   8.86   8.860000   8.860000   8.860000   8.08       3
3    0.000000   0.00   0.00   0.000000   0.000000   0.000000   0.00       4
4    8.860000   6.26   5.10   3.620000   0.000000   0.000000   0.00       5
..        ...    ...    ...        ...        ...        ...    ...     ...
20   0.000000   3.62   5.10   8.080000  11.440000  14.020000  16.58      21
21  16.180000  14.92  14.02  13.040000  12.540000  12.000000  11.44      22
22   0.000000   0.00   3.62   5.100000   6.260000   7.240000   8.08      23
23   8.860000   8.86   8.86   8.860000   8.860000   8.860000   8.86      24
24   0.000000   3.62   3.62   3.620000   5.100000   3.620000   3.62      25

[475 rows x 65 columns]

In [6]:
u1 = up_dataframe.iloc[:,:-1]
dwn1 = down_dataframe.iloc[:,:-1]
go1 = go_dataframe.iloc[:,:-1]
st1 = st_dataframe.iloc[:,:-1]

In [7]:
u1

,1,2,3,4,5,6,7,8,9,10,...,55,56,57,58,59,60,61,62,63,64
0,99.799995,39.480000,21.100000,13.040000,11.440000,16.580000,20.779999,23.740000,17.359999,11.440000,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,62.279999,14.480000,3.620000,5.100000,8.860000,13.040000,15.339999,17.359999,15.780000,11.440000,...,3.62,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,84.419998,52.459999,32.579998,6.260000,7.240000,14.480000,16.180000,101.239998,252.339996,178.800003,...,0.00,0.00,3.620000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,81.419998,60.359997,10.860000,16.980000,21.719999,22.600000,21.100000,18.799999,16.180000,110.159996,...,5.10,3.62,3.620000,3.620000,3.620000,0.000000,0.000000,0.000000,0.000000,0.000000
4,52.320000,32.779999,16.980000,10.219999,9.559999,11.440000,13.540000,14.480000,13.540000,11.440000,...,5.10,5.10,3.620000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,42.980000,41.739998,30.279999,25.840000,26.340000,13.540000,3.620000,0.000000,0.000000,0.000000,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,46.919998,36.739998,29.179998,22.879999,23.740000,24.000000,6.260000,0.000000,0.000000,0.000000,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,55.840000,59.139999,46.059998,30.699999,23.740000,12.540000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,84.419998,125.399994,34.520000,7.240000,11.440000,14.920000,18.100000,19.480000,20.139999,17.359999,...,6.26,5.10,5.100000,5.100000,3.620000,3.620000,3.620000,3.620000,3.620000,0.000000
24,52.459999,74.799995,65.260002,77.799995,79.479996,65.159996,42.059998,21.400000,9.559999,22.600000,...,8.86,8.86,9.559999,9.559999,9.559999,9.559999,9.559999,9.559999,9.559999,9.559999

In [8]:
dwn1

,1,2,3,4,5,6,7,8,9,10,...,55,56,57,58,59,60,61,62,63,64
0,40.299999,105.739998,55.599998,47.619999,50.939999,47.739998,44.779999,52.199997,47.879997,42.360001,...,7.240000,6.260000,6.260000,6.260000,6.260000,6.260000,6.260000,6.260000,5.10,5.100000
1,132.360001,173.639999,71.659996,58.259998,67.919998,70.000000,62.599998,69.439995,63.520000,61.539997,...,10.219999,12.000000,14.020000,15.339999,16.580000,17.359999,18.100000,18.459999,18.10,17.359999
2,69.619995,55.500000,57.000000,50.419998,46.779999,46.919998,42.820000,42.520000,38.480000,32.980000,...,6.260000,5.100000,5.100000,3.620000,3.620000,3.620000,0.000000,0.000000,0.00,0.000000
3,121.799995,48.160000,46.500000,55.020000,48.020000,46.919998,47.340000,38.480000,42.680000,39.320000,...,7.240000,7.240000,7.240000,6.260000,6.260000,6.260000,6.260000,6.260000,5.10,5.100000
4,46.639999,50.799999,57.239998,53.439999,42.360001,44.919998,42.200001,47.619999,41.739998,47.619999,...,14.920000,14.920000,15.339999,14.920000,14.920000,14.920000,14.480000,13.540000,13.54,13.040000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,223.819992,164.339996,80.619995,49.899998,90.139999,98.079994,63.119999,40.939999,32.380001,36.739998,...,14.480000,15.339999,15.339999,15.780000,15.780000,15.780000,15.339999,14.920000,14.02,12.540000
21,173.259995,215.919998,91.299995,65.659996,82.540001,87.779999,84.419998,79.799995,33.559998,17.719999,...,6.260000,6.260000,6.260000,6.260000,7.240000,7.240000,7.240000,7.240000,8.08,8.080000
22,72.139999,49.239998,58.480000,31.139999,18.459999,9.559999,21.100000,36.380001,42.520000,42.200001,...,15.780000,16.180000,15.780000,15.780000,15.339999,14.920000,14.920000,14.480000,13.54,13.040000
23,116.839996,68.599998,29.619999,16.180000,23.459999,34.520000,38.480000,20.139999,17.719999,15.339999,...,15.780000,16.180000,16.180000,16.180000,15.780000,15.780000,15.780000,15.339999,14.92,14.920000
24,54.299999,76.459999,59.699997,43.879997,28.719999,26.599998,29.619999,31.340000,32.180000,32.779999,...,3.620000,5.100000,5.100000,6.260000,6.260000,7.240000,7.240000,7.240000,7.24,7.240000

In [9]:
go1

,1,2,3,4,5,6,7,8,9,10,...,55,56,57,58,59,60,61,62,63,64
0,41.419998,42.520000,46.779999,27.799999,22.600000,18.459999,23.180000,17.359999,24.000000,17.719999,...,16.58,14.92,13.04,10.860000,8.860000,7.240000,7.240000,5.10,3.620000,3.620000
1,48.419998,52.199997,40.459999,32.779999,28.959999,22.600000,21.719999,15.339999,21.719999,22.600000,...,16.58,15.78,14.92,13.040000,12.000000,11.440000,10.219999,8.86,8.080000,7.240000
2,54.419998,43.879997,38.480000,38.980000,36.919998,34.340000,29.840000,33.559998,14.920000,32.180000,...,8.08,7.24,7.24,6.260000,7.240000,7.240000,7.240000,6.26,7.240000,7.240000
3,55.379997,65.860001,54.180000,55.599998,60.579998,51.320000,44.619999,27.080000,26.099998,23.180000,...,14.92,14.02,14.02,13.540000,13.540000,12.540000,12.000000,10.86,10.219999,9.559999
4,41.419998,42.059998,37.619999,31.559999,25.340000,19.139999,14.920000,12.000000,9.559999,6.260000,...,54.66,39.32,34.52,34.719997,36.739998,17.359999,9.559999,8.08,3.620000,8.080000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,43.739998,41.259998,44.480000,44.919998,38.639999,33.959999,32.380001,35.099998,26.099998,13.040000,...,12.54,14.48,16.18,16.580000,16.580000,16.580000,16.580000,16.58,16.580000,15.780000
21,44.320000,63.840000,57.579998,67.339996,68.400002,67.040001,62.480000,73.580002,67.439995,61.639999,...,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,3.62,3.620000,5.100000
22,52.699997,56.199997,54.899998,48.840000,63.739998,50.160000,46.779999,39.980000,39.820000,32.980000,...,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,3.62,5.100000,7.240000
23,40.299999,37.439999,32.779999,34.719997,25.340000,25.599998,23.459999,15.339999,9.559999,6.260000,...,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
24,65.760002,114.639999,77.479996,83.879997,84.820000,74.900002,54.899998,48.840000,52.199997,44.320000,...,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,3.620000

In [10]:
st1

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,54.899998,70.739998,47.200001,42.360001,35.639999,31.959999,28.959999,30.920000,30.059999,24.820000,...,28.260000,28.260000,28.039999,27.559999,26.84,25.34,24.279999,23.459999,22.299999,21.40
1,49.759998,22.020000,22.020000,21.719999,19.480000,18.459999,16.180000,12.540000,13.040000,16.180000,...,15.339999,15.339999,15.339999,14.920000,14.48,14.48,13.540000,12.540000,12.000000,11.44
2,102.959999,32.380001,30.699999,23.459999,25.840000,23.459999,19.139999,19.480000,18.100000,10.219999,...,8.080000,8.080000,8.860000,8.860000,8.86,8.86,8.860000,8.860000,8.860000,8.08
3,47.619999,34.520000,13.540000,5.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00
4,49.639999,37.619999,31.559999,31.959999,23.740000,16.980000,15.339999,13.040000,11.440000,10.860000,...,12.540000,11.440000,10.219999,8.860000,6.26,5.10,3.620000,0.000000,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,41.419998,38.980000,38.980000,34.139999,30.699999,34.340000,34.899998,37.259998,31.139999,16.580000,...,0.000000,0.000000,0.000000,0.000000,3.62,5.10,8.080000,11.440000,14.020000,16.58
21,86.639999,66.459999,42.360001,23.180000,7.240000,9.559999,20.459999,47.340000,57.340000,23.740000,...,18.799999,18.459999,17.719999,16.180000,14.92,14.02,13.040000,12.540000,12.000000,11.44
22,45.500000,175.839996,131.160004,54.299999,39.320000,38.639999,35.099998,22.879999,24.000000,28.500000,...,0.000000,0.000000,0.000000,0.000000,0.00,3.62,5.100000,6.260000,7.240000,8.08
23,112.820000,67.720001,44.320000,43.579998,34.899998,28.719999,26.099998,13.040000,13.540000,9.559999,...,8.080000,8.080000,8.080000,8.860000,8.86,8.86,8.860000,8.860000,8.860000,8.86
24,74.279999,66.459999,49.759998,32.579998,29.400000,38.820000,52.079998,41.739998,28.500000,17.719999,...,0.000000,0.000000,0.000000,0.000000,3.62,3.62,3.620000,5.100000,3.620000,3.62

In [11]:
r1 = np.concatenate([dwn1,u1,go1,st1])
r1.shape

(1900, 64)

In [12]:
q1 = np.array([0]*475 + [1] * 475 + [2]*475 + [3] * 475)
q1

array([0, 0, 0, ..., 3, 3, 3])

In [13]:
print(q1.shape)

a_train,a_test,b_train,b_test = train_test_split(r1,q1,train_size = 0.8,random_state = 0)

(1900,)

In [14]:
import os
MODELS_DIR = 'models/'
if not os.path.exists(MODELS_DIR):
    os.mkdir(MODELS_DIR)
MODEL_TF = MODELS_DIR + 'model'
MODEL_NO_QUANT_TFLITE = MODELS_DIR + 'model_no_quant.tflite'
MODEL_TFLITE = MODELS_DIR + 'model.tflite'
MODEL_TFLITE_MICRO = MODELS_DIR + 'model.cc'
import tensorflow as tf
##!pip install tensorflow
import tensorflow as tenf
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
seed = 1
np.random.seed(seed)
tf.random.set_seed(seed)

# TensorFlow is an open source machine learning library
import tensorflow as tf

# Keras is TensorFlow's high-level API for deep learning
from tensorflow import keras
# Numpy is a math library
import numpy as np
# Pandas is a data manipulation library 
import pandas as pd
# Matplotlib is a graphing library
import matplotlib.pyplot as plt
# Math is Python's math library
import math

# Set seed for experiment reproducibility
seed = 1
np.random.seed(seed)
tf.random.set_seed(seed)

In [15]:
m1 = tf.keras.Sequential()
m1.add(keras.layers.Dense(128, activation ='elu' ,input_shape=(a_train.shape[1],)))
m1.add(keras.layers.Dense(2, activation='softmax'))
m1.compile(loss=tf.keras.losses.sparse_categorical_crossentropy,
              optimizer=tf.keras.optimizers.Adam(),
              metrics=['accuracy'])
print(m1.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               8320

 dense_1 (Dense)             (None, 2)                 258

=================================================================
Total params: 8,578
Trainable params: 8,578
Non-trainable params: 0
_________________________________________________________________
None